h1 {
    
  border-bottom: 1px solid black;
  padding: .5em;

    font-family: 'Libre Baskerville', serif;
    
    word-spacing: 150px;
    font-size: 20px;
    
    background-color: whitesmoke;
}

span,
    li {
    border-bottom: 2px solid salmon;
    
}


h2 {
    border-bottom: 1px solid black;
    padding: 100px;
    text-align: center;
    background-image: url(blur.png);
    background-size: 800px, 450px;
}


.foto1 { 
    text-align: center;
    background-color: wheat;
    background-image: url(husky-siberiano-bosque.jpg);
    background-size: 285px;
    margin: 10px;
    width: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.foto2 { 
    text-align: center;
    background-color: wheat;
    background-image: url(perros-personalidad-2.jpg);
    background-size: 500px;
    margin: 10px;
    width: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.foto3 { 
    text-align: center;
    background-color: wheat;
    background-image: url(por-que-nos-parece-que-los-perros-sonrien-una-historia-de-30-000-anos.jpg);
    background-size: 200px;
    margin: 10px;
    width: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
}